.pageMenu {
    height: 52px;
    background: #f1f1f1 url(/images/menu-fon.png) repeat-x;
    display: flex;

    div {
        display: flex;
        flex-grow: 1;
        background: url(/images/menu-left.png) no-repeat 0 0;

        div {
            display: flex;
            flex-grow: 1;
            @media (min-width: 300px) {
                background: url(/images/menu-right.png) no-repeat 100% 0;
            }

            // ------------------------------
            //align-items: center;
            //justify-content: center;            

            ul {
                @media (min-width: 300px) {
                    margin:0 20px;
                }
                display: flex;
                flex-grow: 1;
                list-style: none;
                padding: 0;
                align-items: center;
                justify-content: space-around;

                li {
                    margin: 0 10px;
                    text-align: center;
                    text-transform: uppercase;
                    line-height: 120%;

                    a {
                        color: #044175;
                        text-decoration: none;
                        &:hover {
                            color: #D12415;
                            text-decoration: underline;
                        }
                    }
                }

                &.menu1 {
                    display: none;
                    @media (min-width: 960px) {
                        display: flex;
                    }
    
                }
                &.menu2 {
                    display: flex;
                    @media (min-width: 960px) {
                        display: none;
                    }
    
                }
            }

        }
    
    }
}