.pageSidebar {
    
    ._block {
        width: 240px;
        background: #f1f1f1;
        
        padding: 20px;

        ul {
            padding-left: 30px;
            li {
                margin-bottom: 4px;
            }
        }

        a {
            color: #044175;
            &:hover {
                color: #EB4634;
    
            }
    
        }

        .promo1 {
            display: flex;
            justify-items: flex-start;
            align-content: center;
            align-items: center;
            height: 40px;

            svg {
                vertical-align: -10%;
            }
            span {
                margin: 10px;
                font-size: 18px;
            }
        }

        .txtIconed {
            display: flex;
            justify-items: flex-start;
            align-content: center;
            align-items: flex-start;
            span {
                margin: 4px 0 0 10px;
            }
            margin-bottom: 10px;

        }
    }
    
}